.link {
    margin-top: 20%;
    font-size: 2em;
    font-family: "Futura";
    color: #ffb606;
}

.center-body {
    display: flex;
    text-align: center;
}

.email-me {
    font-family: "Futura";
    color: #ffb606;
}

.return {
    margin-top: 10%;
}
